.input-field-new-cost-item {
  @include flex (column, center, center);
  gap: 0.5rem;

  width: 25%;

  border-radius: 0.5rem;

  &__title {
    color: $text-color-dark;
  }

  &__input {
    background-color: $background-color-input;
    
    width: 100%;
    height: 1.3rem;

    border-radius: 0.5rem;

    padding: 0 0.5rem;

    &::-webkit-input-placeholder {
      color: $placeholder-color;
    }

    &_date {
      &::-webkit-datetime-edit-text {
        color: $placeholder-color;
      }
      &::-webkit-datetime-edit-month-field {
        color: $placeholder-color;
      }
      &::-webkit-datetime-edit-day-field {
        color: $placeholder-color;
      }
      &::-webkit-datetime-edit-year-field {
        color: $placeholder-color;
      }
    }

    &_price {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type=number] {
        -moz-appearance: textfield;
      }
    }
  }
}