//colors
$background-color-main: #482E1D;

$background-color-costs: #A3966A;

$background-color-add-cost-item: #A3966A;

$background-color-cost-item: #91553D;
$background-color-cost-item-elements: #482E1D;

$background-color-menu: #91553D;

$background-color-button: #91553D;
$background-color-button-hover: #8a513a;
$background-color-button-active: #91553D;

$background-color-input: #F1DAAE;
$placeholder-color: #482e1de7;
$text-color-input: #482E1D;

$background-color-cost-filter-graph: #91553D;
$background-color-cost-filter-graph-inner: #F1DAAE;
$background-color-cost-filter-graph-fill: #A3966A;

$text-color-main: #F1DAAE;
$text-color-dark: #482E1D;

$box-shadow-color-cost-item: #482E1D;

$selection-background-main: #482e1de7;
$selection-background-light: #F1DAAE;
$selection-color-dark: #482E1D;
$selection-color-light: #F1DAAE;